<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.produceReport.dao.IProduceReportDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.produceReport.pojo.ProduceReport"> 
		<id property="reportid" column="reportid" javaType="java.lang.Integer"></id> 
		<result property="shipname" column="shipname" javaType="java.lang.String"></result> 
		<result property="capacity" column="capacity" javaType="java.lang.Float"></result> 
		<result property="planjobtime" column="planjobtime" javaType="java.lang.String"></result> 
		<result property="startjobtime" column="startjobtime" javaType="java.lang.String"></result> 
		<result property="completetime" column="completetime" javaType="java.lang.String"></result> 
		<result property="flowid" column="flowid" javaType="java.lang.Integer"></result> 
		<result property="reportuser" column="reportuser" javaType="java.lang.String"></result> 
		<result property="compid" column="compid" javaType="java.lang.Integer"></result> 
		<result property="compname" column="compname" javaType="java.lang.String"></result>
		<result property="flowname" column="flowname" javaType="java.lang.String"></result>
		<result property="status" column="status" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		reportid,shipname,capacity,planjobtime,startjobtime,completetime,flowid,reportuser,compid 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where reportid = #{reportid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from produce_report 
		where reportid = #{reportid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.produceReport.pojo.ProduceReport" > 
		insert into produce_report(shipname,capacity,planjobtime,startjobtime,completetime,flowid,reportuser,compid) 
		values (#{shipname},#{capacity},#{planjobtime},#{startjobtime},#{completetime},#{flowid},#{reportuser},#{compid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.produceReport.pojo.ProduceReport" > 
		update produce_report 
		<set > 
			<if test="shipname != null and shipname!='' " > 
				shipname = #{shipname}, 
			</if> 
			<if test="capacity != null and capacity!='' " > 
				capacity = #{capacity}, 
			</if> 
			<if test="planjobtime != null and planjobtime!='' " > 
				planjobtime = #{planjobtime}, 
			</if> 
			<if test="startjobtime != null and startjobtime!='' " > 
				startjobtime = #{startjobtime}, 
			</if> 
			<if test="completetime != null and completetime!='' " > 
				completetime = #{completetime}, 
			</if> 
			<if test="flowid != null and flowid!='' " > 
				flowid = #{flowid}, 
			</if> 
			<if test="reportuser != null and reportuser!='' " > 
				reportuser = #{reportuser}, 
			</if> 
			<if test="compid != null and compid!='' " > 
				compid = #{compid}, 
			</if> 
		</set> 
		where reportid = #{reportid} 
	</update> 
	<update id="update" parameterType="com.qhit.produceReport.pojo.ProduceReport" > 
		update produce_report 
		set  shipname = #{shipname}, capacity = #{capacity}, planjobtime = #{planjobtime}, startjobtime = #{startjobtime}, completetime = #{completetime}, flowid = #{flowid}, reportuser = #{reportuser}, compid = #{compid} 
		where reportid = #{reportid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		SELECT pr.*,bf.flowname,bc.compname,
		case when pr.completetime is not null then '已完成'
				 when pr.startjobtime is not null  then '作业中'
				else '未完成' end  status
			from produce_report pr left join base_flow bf on pr.flowid = bf.flowid
			left join base_company bc on pr.compid = bc.compid
			order by pr.reportid desc
	</select> 
	<select id="findByShipname" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where shipname = #{shipname} 
	</select> 
	<select id="findByCapacity" resultMap="BaseResultMap" parameterType="java.lang.Float" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where capacity = #{capacity} 
	</select> 
	<select id="findByPlanjobtime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where planjobtime = #{planjobtime} 
	</select> 
	<select id="findByStartjobtime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where startjobtime = #{startjobtime} 
	</select> 
	<select id="findByCompletetime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where completetime = #{completetime} 
	</select> 
	<select id="findByFlowid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where flowid = #{flowid} 
	</select> 
	<select id="findByReportuser" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where reportuser = #{reportuser} 
	</select> 
	<select id="findByCompid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from produce_report 
		where compid = #{compid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from produce_report where reportid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.produceReport.pojo.ProduceReport" resultMap="BaseResultMap">
		SELECT pr.*,bf.flowname,bc.compname,
		case when pr.completetime is not null then '已完成'
		when pr.startjobtime is not null  then '作业中'
		else '未完成' end  status
		from produce_report pr left join base_flow bf on pr.flowid = bf.flowid
		left join base_company bc on pr.compid = bc.compid
		<where > 
			<if test="shipname != null and shipname!='' " > 
				 and pr.shipname = #{shipname}
			</if> 
			<if test="capacity != null and capacity!='' " > 
				 and pr.capacity = #{capacity}
			</if> 
			<if test="planjobtime != null and planjobtime!='' " > 
				 and pr.planjobtime = #{planjobtime}
			</if> 
			<if test="startjobtime != null and startjobtime!='' " > 
				 and pr.startjobtime = #{startjobtime}
			</if> 
			<if test="completetime != null and completetime!='' " > 
				 and pr.completetime = #{completetime}
			</if> 
			<if test="flowid != null and flowid!='' " > 
				 and pr.flowid = #{flowid}
			</if> 
			<if test="reportuser != null and reportuser!='' " > 
				 and pr.reportuser = #{reportuser}
			</if> 
			<if test="compid != null and compid!='' " > 
				 and pr.compid = #{compid}
			</if> 
		</where>
		order by pr.reportid desc
	</select>
	<select id="selectFlowAmount" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="flows"  item="item" separator=",">
			MAX(CASE m.flowname WHEN '${item.flowname}' THEN m.jobamount ELSE 0 END ) '${item.flowname}'
		</foreach>
		from  (select concat(month(pr.completetime),'月') as '月份',bf.flowname,sum(pr.capacity) as jobamount
		from produce_report pr join base_flow bf on pr.flowid=bf.flowid
		where year(pr.completetime) = '${year}'
		group by bf.flowname,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectDevTypeAmount" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devTypeList"  item="item" separator=",">
			MAX(CASE m.typename WHEN '${item.typename}' THEN m.jobamount ELSE 0 END ) '${item.typename}'
		</foreach>
		from  (select concat(month(pj.completetime),'月') as '月份',bt.typename,sum(amount) as jobamount
		from produce_job pj join base_device bd on pj.devid=bd.devid
		join base_devtype bt on bd.typeid=bt.typeid
		where year(pj.completetime) = '${year}'
		group by month(pj.completetime),bt.typename )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectDevAmount" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devices"  item="item" separator=",">
			MAX(CASE m.devname WHEN '${item.devname}' THEN m.jobamount ELSE 0 END ) '${item.devname}'
		</foreach>
		from  (select concat(month(pj.completetime),'月') as '月份',bd.devname,sum(amount) as jobamount
		from produce_job pj join base_device bd on pj.devid=bd.devid
		where year(pj.completetime) = '${year}'
		group by month(pj.completetime),bd.devname )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectDevConsume" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devices"  item="item" separator=",">
			MAX(CASE m.devname WHEN '${item.devname}' THEN m.consume ELSE 0 END ) '${item.devname}'
		</foreach>
		from  (select bd.devname,concat(month(pr.completetime),'月') as '月份',
				sum(round(
				(ec.electric * (select es.ratio from  energy_standradcoal es where es.sid=1)) +
				(ec.water * (select es.ratio from  energy_standradcoal es where es.sid=2)) +
				(ec.oil * (select es.ratio from  energy_standradcoal es where es.sid=3)),2))as consume
				from energy_consume ec
				join produce_report pr on ec.reportid=pr.reportid
				join base_device bd on ec.devid=bd.devid
				where year(pr.completetime) = '${year}'
				group by bd.devname,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectDevTypeConsume" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devTypeList"  item="item" separator=",">
			MAX(CASE m.typename WHEN '${item.typename}' THEN m.consume ELSE 0 END ) '${item.typename}'
		</foreach>
		from  (select bt.typename,concat(month(pr.completetime),'月') as '月份',
				sum(round(
				(ec.electric * (select es.ratio from  energy_standradcoal es where es.sid=1)) +
				(ec.water * (select es.ratio from  energy_standradcoal es where es.sid=2)) +
				(ec.oil * (select es.ratio from  energy_standradcoal es where es.sid=3)),2))as consume
				from energy_consume ec
				join produce_report pr on ec.reportid=pr.reportid
				join base_device bd on ec.devid=bd.devid
				join base_devtype bt on bd.typeid=bt.typeid
				where year(pr.completetime) = '${year}'
				group by bt.typename,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectFlowConsume" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="flows"  item="item" separator=",">
			MAX(CASE m.flowname WHEN '${item.flowname}' THEN m.consume ELSE 0 END ) '${item.flowname}'
		</foreach>
		from  (select bf.flowname,concat(month(pr.completetime),'月') as '月份',
				sum(round(
				(ec.electric * (select es.ratio from  energy_standradcoal es where es.sid=1)) +
				(ec.water * (select es.ratio from  energy_standradcoal es where es.sid=2)) +
				(ec.oil * (select es.ratio from  energy_standradcoal es where es.sid=3)),2))as consume
				from energy_consume ec
				join produce_report pr on ec.reportid=pr.reportid
				join base_flow bf on pr.flowid=bf.flowid
				where year(pr.completetime) = '${year}'
				group by bf.flowname,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectElectricConsume" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devices"  item="item" separator=",">
			MAX(CASE m.devname WHEN '${item.devname}' THEN m.ratio ELSE 0 END ) '${item.devname}'
		</foreach>
		from  (select bd.devname,concat(month(pr.completetime),'月') as '月份',
		round(sum(ec.electric)/sum(pj.amount),2) as ratio
		from produce_report pr
		join produce_job pj on pr.reportid=pj.reportid
		join energy_consume ec on pr.reportid=ec.reportid and pj.devid=ec.devid
		join base_device bd on pj.devid=bd.devid
		where year(pr.completetime) = '${year}'
		group by bd.devname,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectWaterConsume" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devices"  item="item" separator=",">
			MAX(CASE m.devname WHEN '${item.devname}' THEN m.ratio ELSE 0 END ) '${item.devname}'
		</foreach>
		from  (select bd.devname,concat(month(pr.completetime),'月') as '月份',
		round(sum(ec.water)/sum(pj.amount),2) as ratio
		from produce_report pr
		join produce_job pj on pr.reportid=pj.reportid
		join energy_consume ec on pr.reportid=ec.reportid and pj.devid=ec.devid
		join base_device bd on pj.devid=bd.devid
		where year(pr.completetime) = '${year}'
		group by bd.devname,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
	<select id="selectOilConsume" parameterType="java.util.Map" resultType="java.util.Map">
		select  m.月份,
		<foreach collection="devices"  item="item" separator=",">
			MAX(CASE m.devname WHEN '${item.devname}' THEN m.ratio ELSE 0 END ) '${item.devname}'
		</foreach>
		from  (select bd.devname,concat(month(pr.completetime),'月') as '月份',
		round(sum(ec.oil)/sum(pj.amount),2) as ratio
		from produce_report pr
		join produce_job pj on pr.reportid=pj.reportid
		join energy_consume ec on pr.reportid=ec.reportid and pj.devid=ec.devid
		join base_device bd on pj.devid=bd.devid
		where year(pr.completetime) = '${year}'
		group by bd.devname,month(pr.completetime) )m
		group by m.月份
		order by  cast(replace(m.月份,'月','') as signed)
	</select>
</mapper> 
